<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lv.infrastructure.invoke.dao.SpringTaskDao">

    <resultMap type="com.lv.domain.invoke.SpringTaskDo" id="SpringTaskMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="VARCHAR"/>
        <result property="springBeanName" column="spring_bean_name" jdbcType="VARCHAR"/>
        <result property="className" column="class_name" jdbcType="VARCHAR"/>
        <result property="methodName" column="method_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SpringTaskMap">
        select id,
               project_id,
               create_time,
               update_time,
               is_deleted,
               spring_bean_name,
               class_name,
               method_name
        from lv_invoke_spring_task
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SpringTaskMap">
        select
        id, project_id, create_time, update_time, is_deleted, spring_bean_name, class_name, method_name
        from lv_invoke_spring_task
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                and is_deleted = #{isDeleted}
            </if>
            <if test="springBeanName != null and springBeanName != ''">
                and spring_bean_name = #{springBeanName}
            </if>
            <if test="classNameDo != null and classNameDo != ''">
                and class_name = #{classNameDo}
            </if>
            <if test="methodName != null and methodName != ''">
                and method_name = #{methodName}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from lv_invoke_spring_task
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                and is_deleted = #{isDeleted}
            </if>
            <if test="springBeanName != null and springBeanName != ''">
                and spring_bean_name = #{springBeanName}
            </if>
            <if test="classNameDo != null and classNameDo != ''">
                and class_name = #{classNameDo}
            </if>
            <if test="methodName != null and methodName != ''">
                and method_name = #{methodName}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into lv_invoke_spring_task(project_id, create_time, update_time, is_deleted, spring_bean_name,
                                          class_name, method_name)
        values (#{projectId}, #{createTime}, #{updateTime}, #{isDeleted}, #{springBeanName}, #{classNameDo},
                #{methodName})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into lv_invoke_spring_task(project_id, create_time, update_time, is_deleted, spring_bean_name,
        class_name, method_name)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.projectId}, #{entity.createTime}, #{entity.updateTime}, #{entity.isDeleted},
            #{entity.springBeanName}, #{entity.classNameDo}, #{entity.methodName})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into lv_invoke_spring_task(project_id, create_time, update_time, is_deleted, spring_bean_name,
        class_name, method_name)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.projectId}, #{entity.createTime}, #{entity.updateTime}, #{entity.isDeleted},
            #{entity.springBeanName}, #{entity.classNameDo}, #{entity.methodName})
        </foreach>
        on duplicate key update
        project_id = values(project_id),
        create_time = values(create_time),
        update_time = values(update_time),
        is_deleted = values(is_deleted),
        spring_bean_name = values(spring_bean_name),
        class_name = values(class_name),
        method_name = values(method_name)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update lv_invoke_spring_task
        <set>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                is_deleted = #{isDeleted},
            </if>
            <if test="springBeanName != null and springBeanName != ''">
                spring_bean_name = #{springBeanName},
            </if>
            <if test="classNameDo != null and classNameDo != ''">
                class_name = #{classNameDo},
            </if>
            <if test="methodName != null and methodName != ''">
                method_name = #{methodName},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from lv_invoke_spring_task
        where id = #{id}
    </delete>

</mapper>

